<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <h1>Vehicle Count</h1>
    </div>
    <div class="container1">
        
        <div class="container2">
            <h3>Mercedes</h3>
            <img src="https://pixabay.com/photos/mercedes-daimler-automobile-car-3417100/">

            <button (click)="onIncrement()" >+</button>
            <P>{{count$ | async}}</P>
            <button (click)="onDecrement()">+</button>
        </div>
        <div class="container2">
            <h3>Mercedes</h3>
            <img src="https://pixabay.com/photos/mercedes-daimler-automobile-car-3417100/">

            <button (click)="onIncrement()" >+</button>
            <P>{{count$ | async}}</P>
            <button (click)="onDecrement()">-</button>
        </div>
        <div class="container2">
            <h3>Mercedes</h3>
            <img src="https://pixabay.com/photos/mercedes-daimler-automobile-car-3417100/">

            <button (click)="onIncrement()" >+</button>
            <P>{{count$ | async}}</P>
            <button (click)="onDecrement()">-</button>
        </div>
        <div class="container2">
            <h3>Mercedes</h3>
            <img src="https://pixabay.com/photos/mercedes-daimler-automobile-car-3417100/">

            <button (click)="onIncrement()" >+</button>
            <P>{{count$ | async}}</P>
            <button (click)="onDecrement()">-</button>
        </div>
        <div class="container2">
            <h3>Mercedes</h3>
            <img src="https://pixabay.com/photos/mercedes-daimler-automobile-car-3417100/">

            <button (click)="onIncrement()" >+</button>
            <P>{{count$ | async}}</P>
            <button (click)="onDecrement()">-</button>
        </div>
    </div>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>
</html>

